@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-Black.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-BlackItalic.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-text-default: #cbd5e1!important;
  --color-text-red: #f43f5e!important;
  --color-bg-default: #1e293b !important;
  --color-red: #f43f5e!important;
}

h1 {
  font-family: 'Tiempos Headline', serif !important;
  font-size: 3rem !important;
  line-height: 1 !important;
  color: #e2e8f0 !important;
}

h2 {
  font-weight: 400 !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  line-height: 1.62 !important;
  margin-bottom: 2.5rem !important;
}

p {
  color: #94a3b8 !important;
}

.super-navbar {
  max-width: 900px;
  margin: auto;
  padding-left: calc(env(safe-area-inset-left) + 74px);
  padding-right: calc(env(safe-area-inset-right) + 74px);
}

.notion-divider {
  border-bottom: none !important;
}
.notion-divider::after {
  display: block;
  width: 100%;
  content: '-----×-----';
  text-align: center;
  opacity: 0.25;
}

.notion-caption {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}

#block-f7a0587192d545b4966e53423f263d67,
blockquote:first-of-type {
  text-transform: uppercase;
  top: 9rem;
  font-weight: 600;
  opacity: 0.5;
  font-size: 0.75em !important;
}

blockquote:first-of-type {
  position: absolute !important;
  -webkit-border-start: none !important;
  border-inline-start: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
blockquote:first-of-type .notion-semantic-string .link {
  border-bottom: none !important;
}

#block-ef46c3bedc74469aa43fd86d60d14456 {
  display: none !important;
}

.notion-page__property:nth-child(1) {
  display: block !important;
}

/* DATABASE LIST */
.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
  border-bottom: none !important;
}
.notion-collection-list {
  border-top: none !important;
}
.notion-collection-list__item {
  padding: 4px !important;
  align-items: start !important;
}
.notion-collection-list__item .notion-property__title .notion-semantic-string {
  white-space: normal !important;
  font-weight: 400 !important;
}
.notion-collection__header-wrapper {
  display: none !important;
}