@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-Black.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-BlackItalic.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-text-default: #cbd5e1!important;
  --color-text-red: #f43f5e!important;
  --color-bg-default: #1e293b !important;
  --color-red: #f43f5e!important;
}

h1 {
  font-family: 'Tiempos Headline', serif !important;
  font-size: 3rem !important;
  line-height: 1 !important;
  color: #e2e8f0 !important;
}

h2 {
  font-weight: 400 !important;
}

#block-ef46c3bedc74469aa43fd86d60d14456 {
  display: none !important;
}

/* DATABASE LIST */
.notion-collection-list__item .notion-property__title .notion-semantic-string>span {
  border-bottom: none !important;
}
.notion-collection-list {
  border-top: none !important;
}
.notion-collection-list__item .notion-property__title .notion-semantic-string {
  white-space: normal !important;
  font-weight: 400 !important;
}
.collection-bfa6b801bf7c4d208e962dfbdd75879e .notion-collection__header-wrapper {
  display: none !important;
}