@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-Black.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../bs/fonts/TiemposHeadline-BlackItalic.woff2') format('woff2'),
       url('../bs/fonts/TiemposHeadline-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}